.masthead-intro,.masthead-heading{
 	text-align: center;
 	color: #ffffcc;
}

.masthead {
    padding: 6em 0;
 	background-image: url("https://raw.githubusercontent.com/chiefspace/aboutme/master/images/header5.jpg");
 	background-repeat: no-repeat;
    background-size: cover;
}

.masthead-intro {
    margin-bottom: 0.1em;
}

.masthead-heading {
    margin-top: -0.2em;
}

body {
    background-color: #ffffcc;
}

@font-face {
  font-family: 'MyWebFont';
  src:  url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff');
}

body {
  font-family: 'MyWebFont', Fallback, sans-serif;
}
